body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
    direction: rtl;
}

header {
    background: #c8102e;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Slider */
.hero {
    position: relative;
    margin: 20px auto;
}

.slider {
    position: relative;
    width: 90%;
    height: 450px;
    overflow: hidden;
    border-radius: 15px;
    margin: auto;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 15px black;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: white;
    color: #c8102e;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

/* الوجهات المغربية */
.destinations {
    padding: 40px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 160px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}
