body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
    direction: rtl;
}

header {
    background: #c8102e;
    color: white;
    padding: 20px;
}

.hero {
    background: linear-gradient(to right, #c8102e, #000);
    color: white;
    padding: 60px 20px;
}
nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    background: white;
    color: #c8102e;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}
.title {
    margin: 30px;
    font-size: 28px;
    color: #c8102e;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
}

th {
    background: #c8102e;
    color: white;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    background: white;
    color: #c8102e;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}
form {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
}

button {
    background: #c8102e;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}
.contact-box {
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    font-size: 18px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
}
.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    margin: 20px auto;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 0 0 10px black;
}
.destinations {
    padding: 40px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 150px;
    text-align: center;
}

.card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}
